<section class="section-gap pt-100 bg-light-grey why-us pb-0 bg-cover-center parallax-container parallax-img"
             data-stellar-background-ratio="0.1" style="background-image: url({{ 'assets/img/images/BG-whyus-4.2.jpg'|theme }});"
             data-image-src="{{ 'assets/img/images/BG-whyus-4.2.jpg'|theme }}">
        <div class="container-fluid">
            <div class="mb-30 hide">
                <h2 class="heading-primary  text-white">Why Choose SSG Holdings Limited?</h2>
            </div>
            <div class="row pt-70 mobile-pt-0">
                <div class="col-sm-6 col-md-5 ">
                    <h2 class="heading-primary  text-white">Why Choose SSG Holdings Limited?</h2>
                    <div class="text-white">
                        <p>SSG Holdings tries to construct an uncommon encounter of fine living cocooned in consolation for you. It’s the explanation of glory and rich Engineering that sets us separated.</p>
                    </div>
                    <div class="mb-30">
                        <a href="/our-story" class="hidden-xs button button-outline button-outline-white mtb-30">
                            Explore
                        </a>
                    </div>

                    {# <div class="image-box-holder flow-down hide">
                        <div class="image-box">
                            <div class="inner-content text-white text-bold">
                                <p>
                                    Shanta aspires to weave an unprecedented experience of fine living cocooned in comfort for you. It’s the statement of prestige and elegant Architecture that sets us apart.                                 </p>
                                <a href="about-us/who-we-are.html"
                                   class="button button-outline button-outline-white">
                                    Explore
                                </a>
                            </div>
                        </div>
                    </div> #}
                </div>
                <div class="col-sm-6 col-md-6 col-md-offset-1 mb-70 mobile-mb-0">
                    <div class="bordered-tiles our-specility-lightbox-wrapper mobile-mb-0 stagger-wrapper mb-0">
                        <div class="row  parent">

                            <div class="col-xs-4 col-sm-6 col-md-4 borderd-tile-item mb-30 no-border sm">
                                <a href="#specility-lightbox-1" class="lbox-btn">
                                    <div class="inner">
                                        <div class="content">
                                            <div class="table-all">
                                                    <span class="vertical-center">
                                                        <span class="tile-text">Excellent Locations</span>
                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-xs-4 col-sm-6 col-md-4 borderd-tile-item mb-30 no-border sm">
                                <a href="#specility-lightbox-2" class="lbox-btn">
                                    <div class="inner">
                                        <div class="content">
                                            <div class="table-all">
                                                    <span class="vertical-center">
                                                        <span class="tile-text">Superior Consultants</span>
                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-xs-4 col-sm-6 col-md-4 borderd-tile-item mb-30 no-border sm">
                                <a href="#specility-lightbox-3" class="lbox-btn">
                                    <div class="inner">
                                        <div class="content">
                                            <div class="table-all">
                                                    <span class="vertical-center">
                                                        <span class="tile-text">Finest Materials</span>
                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-xs-4 col-sm-6 col-md-4 borderd-tile-item mb-30 no-border sm">
                                <a href="#specility-lightbox-4" class="lbox-btn">
                                    <div class="inner">
                                        <div class="content">
                                            <div class="table-all">
                                                    <span class="vertical-center">
                                                        <span class="tile-text">
Prioritized Safety</span>
                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-xs-4 col-sm-6 col-md-4 borderd-tile-item mb-30 no-border sm">
                                <a href="#specility-lightbox-5" class="lbox-btn">
                                    <div class="inner">
                                        <div class="content">
                                            <div class="table-all">
                                                    <span class="vertical-center">
                                                        <span class="tile-text">Timely Delivery</span>
                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-xs-4 col-sm-6 col-md-4 borderd-tile-item mb-30 no-border sm">
                                <a href="#specility-lightbox-6" class="lbox-btn">
                                    <div class="inner">
                                        <div class="content">
                                            <div class="table-all">
                                                    <span class="vertical-center">
                                                        <span class="tile-text">Expert Administration</span>
                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>


                        </div>
                        <div class="visible-xs ">
                            <a href="why-shanta-holdings.html" class="button button-outline button-outline-white mt-30 mb-100">Explore</a>
                        </div>
                        {# <div class="lightbox-content-wrapper">

                            <div id="specility-lightbox-1"
                                 class="specility-lightbox-item text-left bg-white ">
                                <a href="#" class="close-lightbox text-30">
                                    <img src="{{ 'assets/img/icons/global-menu-close-black.svg'|theme }}"
                                         alt="close">
                                </a>
                                <div class="inner">
                                    <h3 class="title text-18 mb-20">Prime Locations</h3>
                                    <div class="desc">
                                        <p>We offer a selection from the most lucrative locations across the city. Our project locations are selected intelligently, keeping in mind the things that matter to you most.</p>
                                    </div>
                                </div>
                            </div>


                            <div id="specility-lightbox-2"
                                 class="specility-lightbox-item text-left bg-white ">
                                <a href="#" class="close-lightbox text-30">
                                    <img src="{{ 'assets/img/icons/global-menu-close-black.svg'|theme }}"
                                         alt="close">
                                </a>
                                <div class="inner">
                                    <h3 class="title text-18 mb-20">Top Consultants</h3>
                                    <div class="desc">
                                        We engage the leading consultants in their respective fields from both home and abroad, to ensure that every facet of a project is designed to perfection. After all, the best designs can only come from the best minds.                                            </div>
                                </div>
                            </div>


                            <div id="specility-lightbox-3"
                                 class="specility-lightbox-item text-left bg-white ">
                                <a href="#" class="close-lightbox text-30">
                                    <img src="{{ 'assets/img/icons/global-menu-close-black.svg'|theme }}"
                                         alt="close">
                                </a>
                                <div class="inner">
                                    <h3 class="title text-18 mb-20">Highest Quality Materials</h3>
                                    <div class="desc">
                                        <p>We continuously explore material sourcing globally to enhance the comfort and lifestyle of our clients.
                                            Each material used in our projects is selected with the utmost attention to quality, suitability and
                                            durability.</p>
                                    </div>
                                </div>
                            </div>


                            <div id="specility-lightbox-4"
                                 class="specility-lightbox-item text-left bg-white ">
                                <a href="#" class="close-lightbox text-30">
                                    <img src="{{ 'assets/img/icons/global-menu-close-black.svg'|theme }}"
                                         alt="close">
                                </a>
                                <div class="inner">
                                    <h3 class="title text-18 mb-20">Uncompromised Safety</h3>
                                    <div class="desc">
                                        <p>Our priority to safety is second to none. Structural, electro-mechanical and fire safety stand paramount
                                            in our planning and construction methodology, in order to ensure your safety in your sanctuary.</p>
                                    </div>
                                </div>
                            </div>


                            <div id="specility-lightbox-5"
                                 class="specility-lightbox-item text-left bg-white ">
                                <a href="#" class="close-lightbox text-30">
                                    <img src="{{ 'assets/img/icons/global-menu-close-black.svg'|theme }}"
                                         alt="close">
                                </a>
                                <div class="inner">
                                    <h3 class="title text-18 mb-20">On-time Delivery</h3>
                                    <div class="desc">
                                        <p>Our experienced team of highly qualified engineers and management professionals work relentlessly in
                                            perfect synergy. At Shanta, delivering uncompromised quality, on time, has become our mantra.</p>
                                    </div>
                                </div>
                            </div>


                            <div id="specility-lightbox-6"
                                 class="specility-lightbox-item text-left bg-white ">
                                <a href="#" class="close-lightbox text-30">
                                    <img src="{{ 'assets/img/icons/global-menu-close-black.svg'|theme }}"
                                         alt="close">
                                </a>
                                <div class="inner">
                                    <h3 class="title text-18 mb-20">On-Time Delivery</h3>
                                    <div class="desc">
                                        <p>A safe, clean and comfortable living environment can only be maintained by a team of professionals
                                            with an eye for perfection. Our Facility Management team will ensure your desire to live in a beautiful
                                            community remains fulfilled. </p>
                                    </div>
                                </div>
                            </div>

                        </div> #}
                    </div>
                </div>
            </div>
        </div>
    </section>
