    <footer class="site-main-footer">
        <div class="footer-bottom">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="line"></div>
                                <div class="copyright">
                                    <p>&copy; <script>document.write(new Date().getFullYear())</script> SSG Holdings Ltd.</p>
                                    <p>Designed &amp; Developed by
                                        <a class="hover-line" href="http://www.bizzsol.com.bd"
                                           target="_blank">Bizz Solutions Limited</a>
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="footer-social-wrapper pull-right">
                                    <a target="_blank" href="https://www.facebook.com/shantaholdings/">
                                        <img src="{{'assets/img/facebook-icon.png'|theme}}"
                                             alt="Shantaholdings-fb-page">
                                    </a>
                                    <a target="_blank" href="https://www.instagram.com/shantaholdings/?hl=en">
                                        <img src="{{'assets/img/instagram-icon.png'|theme}}"
                                             alt="Shantaholdings-instagram-page">
                                    </a>
                                    <a target="_blank" href="https://www.youtube.com/channel/UCH2kciy0CmoAiI20rU9KR7A">
                                        <img src="{{'assets/img/youtube-icon.png'|theme}}"
                                             alt="Shantaholdings-youtube-page">
                                    </a>
                                    <a target="_blank"
                                       href="https://www.pinterest.com/shantaholdingsltd/?eq=shanta%20hold&amp;etslf=8103">
                                        <img src="{{'assets/img/pinterest-icon.png'|theme}}"
                                             alt="Shantaholdings-pinterest-page">
                                    </a>
                                </div>
                                <a href="#top" class="animate-scroll scroll-up" style="z-index: 999;">
                                    <img src="{{'assets/img/icons/arrow-down.svg'|theme}}" alt="down arrow">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
