<section class="section-gap pb-50 bg-light-grey">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 mb-30">
                    <h2 class="mb-30">
                    <span><img class="social-icon"
                               src="{{'assets/img/icons/youtube.svg'|theme}}"
                               alt="Youtube">Youtube</span>
                    </h2>

                    <div class="youtube-wrapper">
                        <!--                    <iframe width="100%" height="98%" loading="lazy" src="https://www.youtube.com/embed/fdxY4LCdQIY" frameborder="0"-->
                        <!--                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"-->
                        <!--                            allowfullscreen="" style="-->
                        <!--    position: absolute;-->
                        <!--    left: 0;-->
                        <!--    top: 7px;-->
                        <!--"></iframe>-->

                        <div  class="yt-lazyload" data-id="7pz4gomrsHg" data-thumb="{{'assets/images/16444044430Etoe.jpeg'|theme}}" data-logo="2"></div>

                    </div>
                </div>
                <div class="col-sm-6 mb-30">
                    <h2 class="mb-30">
                    <span><img class="social-icon" src="{{'assets/img/icons/so-ins-black.svg'|theme}}"
                               alt="Instagram">Instagram</span>
                    </h2>
                    <div id="instagram-gallery" class="social-feed social-feed-instagram row no-margin">
                        <a href="https://www.instagram.com/shantaholdings/?hl=en" target="_blank">
                            <img src="{{'assets/img/images/instagram_shanta.jpg'|theme}}"
                                 width="100%" height="auto">
                        </a>
                    </div>
                </div>
            </div>


            <div class="premierProjectWrapper carousel-wrapper">
                <div class="premierProject premierInit">
                    <div class="premierProject__single">
                        <h2 class="mb-30">
                            <span></span>
                        </h2>
                        <a class="tvc-btn" target="_blank" href="/">

                            <img src="{{ 'assets/images/1625410665GOvse.jpg'|theme }}"
                                 style="width:100%;" alt="">

                        </a>
                    </div>
                    <div class="premierProject__single">
                        <h2 class="mb-30">
                            <span></span>
                        </h2>
                        <a class="tvc-btn" target="_blank" href="/">

                            <img src="{{ 'assets/images/16254107042bZjP.jpg'|theme }}"
                                 style="width:100%;" alt="">

                        </a>
                    </div>
                </div>
                <div class="carousel-nav">
                    <img class='prev slick-prev'
                         src="{{'assets/img/icons/arrow_Dark_left.svg'|theme}}"
                         data-src="{{'assets/img/icons/arrow_colored_left.svg'|theme}}"
                         alt="Arrow left">
                    <img class='next slick-next'
                         src="{{'assets/img/icons/arrow_Dark_right.svg'|theme}}"
                         data-src="{{'assets/img/icons/arrow_colored_right.svg'|theme}}"
                         alt="Arrow right">
                </div>
            </div>

        </div>
    </section>
