    <section id="lands-to-landmark" class="section-gap parallax-container" data-stellar-background-ratio="0.1"
             style="background-image: url({{ 'assets/img/cy-sketch.jpg'|theme }})">
        <div class="container-fluid">
            <div class="row mb-40">
                <div class="col-sm-7 col-md-12">
                    <h2 class="heading-primary style-1">WITNESS, AS WE TRANSFORM <br>YOUR LAND TO A LANDMARK</h2>
                    <p>Partner with the best Artisan, to transform your land into a milestone of aesthetic marvel and superior value.</p>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-12">
                    <div class="carousel-wrapper has-shadow">
                        <div class="carousel-primary slick-theme">

                            <div class="carousel-item">
                                <div class="inner">
                                    <a href="ongoing/project/the-sanctum.html">
                                        <div class="image-thumb high-contrast">
                                            <img src="{{ 'assets/images/landmark/1627919131g61t1.jpg'|theme }}"
                                                 alt="The Sanctum"
                                                 title="The Sanctum"/>
                                        </div>
                                        <h3 class="title">The Sanctum</h3>
                                        <h5 class="sub-title">Road 81, Gulshan</h5>
                                        <span class="read-more">
                                                    Residential                                                </span>

                                    </a>
                                </div>
                            </div>


                            <div class="carousel-item">
                                <div class="inner">
                                    <a href="ongoing/project/pinnacle.html">
                                        <div class="image-thumb high-contrast">
                                            <img src="{{ 'assets/images/landmark/1568696181NnsJf.jpg'|theme }}"
                                                 alt="Pinnacle"
                                                 title="Pinnacle">
                                        </div>
                                        <h3 class="title">Pinnacle</h3>
                                        <h5 class="sub-title">Tejgaon</h5>
                                        <span class="read-more">
                                                    Commercial                                                </span>

                                    </a>
                                </div>
                            </div>


                            <div class="carousel-item">
                                <div class="inner">
                                    <a href="ongoing/project/pristine.html">
                                        <div class="image-thumb high-contrast">
                                            <img src="{{ 'assets/images/landmark/1631774896MfKrh.jpg'|theme }}"
                                                 alt="Pristine"
                                                 title="Pristine">
                                        </div>
                                        <h3 class="title">Pristine</h3>
                                        <h5 class="sub-title">Road 10, Baridhara</h5>
                                        <span class="read-more">
                                                    Residential                                                </span>

                                    </a>
                                </div>
                            </div>


                            <div class="carousel-item">
                                <div class="inner">
                                    <a href="ongoing/project/zephyr.html">
                                        <div class="image-thumb high-contrast">
                                            <img src="{{ 'assets/images/landmark/1635247386xAync.jpg'|theme }}"
                                                 alt="Zephyr"
                                                 title="Zephyr">
                                        </div>
                                        <h3 class="title">Zephyr</h3>
                                        <h5 class="sub-title">Road 100 & 103, Gulshan</h5>
                                        <span class="read-more">
                                                    Residential                                                </span>

                                    </a>
                                </div>
                            </div>


                            <div class="carousel-item">
                                <div class="inner">
                                    <a href="ongoing/project/aura.html">
                                        <div class="image-thumb high-contrast">
                                            <img src="{{ 'assets/images/landmark/1633327175LaeLW.jpg'|theme }}"
                                                 alt="Aura"
                                                 title="Aura">
                                        </div>
                                        <h3 class="title">Aura</h3>
                                        <h5 class="sub-title">Road 83, Gulshan</h5>
                                        <span class="read-more">
                                                    Residential                                                </span>

                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="carousel-nav">
                            <img class='prev slick-prev'
                                 src="{{ 'assets/img/icons/arrow_Dark_left.svg'|theme }}" data-src="{{ 'assets/img/icons/arrow_colored_left.svg'|theme }}"
                                 alt="Arrow left">
                            <img class='next slick-next'
                                 src="{{ 'assets/img/icons/arrow_Dark_right.svg'|theme }}" data-src="{{ 'assets/img/icons/arrow_colored_right.svg'|theme }}"
                                 alt="Arrow right">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
