    <section id="lands-to-landmark" class="section-gap parallax-container" data-stellar-background-ratio="0.1">
        <div class="container-fluid">
            <div class="row mb-40">
                <div class="col-sm-7 col-md-12">
                    <div class="container">
                        <h2 class="heading-primary style-1"><b class="text-black">WE CHANGE YOUR PROPERTY <br> TO A MILESTONE!</b></h2>
                        <p><span class="text-ssg-grey h4">Accomplice with the leading operative, to convert your arrive into a breakthrough of tasteful </br> wonder and prevalent esteem.</span></p>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-12">
                    <div class="carousel-wrapper has-shadow">
                        <div class="carousel-primary slick-theme">
                            {% if projects|length %}
                                {% for project in projects %}
                                    <div class="carousel-item">
                                        <div class="inner">
                                            <a href="#">
                                                <div class="image-thumb high-contrast">
                                                    <img src="{{ project.project_thumb.path }}" alt="The Sanctum" title="The Sanctum"/>
                                                </div>
                                                <h3 class="title"><span class="text-black">{{project.name}}</span></h3>
                                                <h5 class="sub-title"><span class="text-black h5">{{project.address}}</span></h5>
                                                <span class="read-more ssg-parpel2">{{project.type}}</span>

                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}

                        </div>

                        <div class="carousel-nav">
                            <img class='prev slick-prev'
                                 src="{{ 'assets/img/icons/arrow_Dark_left_purple.svg'|theme }}" data-src="{{ 'assets/img/icons/arrow_colored_left_purple.svg'|theme }}"
                                 alt="Arrow left">
                            <img class='next slick-next'
                                 src="{{ 'assets/img/icons/arrow_Dark_right_purple.svg'|theme }}" data-src="{{ 'assets/img/icons/arrow_colored_right_purple.svg'|theme }}"
                                 alt="Arrow right">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
