    <section id="lands-to-landmark" class="section-gap parallax-container" data-stellar-background-ratio="0.1"
             style="background-image: url({{ 'assets/img/cy-sketch.jpg'|theme }})">
        <div class="container-fluid">
            <div class="row mb-40">
                <div class="col-sm-7 col-md-12">
                    <h2 class="heading-primary style-1">WITNESS, AS WE TRANSFORM <br>YOUR LAND TO A LANDMARK</h2>
                    <p>Partner with the best Artisan, to transform your land into a milestone of aesthetic marvel and superior value.</p>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-12">
                    <div class="carousel-wrapper has-shadow">
                        <div class="carousel-primary slick-theme">
                            {% if projects|length %}
                                {% for project in projects %}
                                    <div class="carousel-item">
                                        <div class="inner">
                                            <a href="#">
                                                <div class="image-thumb high-contrast">
                                                    <img src="{{ project.project_thumb.path }}" alt="The Sanctum" title="The Sanctum"/>
                                                </div>
                                                <h3 class="title">{{project.name}}</h3>
                                                <h5 class="sub-title">{{project.address}}</h5>
                                                <span class="read-more">{{project.type}}</span>

                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}

                        </div>

                        <div class="carousel-nav">
                            <img class='prev slick-prev'
                                 src="{{ 'assets/img/icons/arrow_Dark_left.svg'|theme }}" data-src="{{ 'assets/img/icons/arrow_colored_left.svg'|theme }}"
                                 alt="Arrow left">
                            <img class='next slick-next'
                                 src="{{ 'assets/img/icons/arrow_Dark_right.svg'|theme }}" data-src="{{ 'assets/img/icons/arrow_colored_right.svg'|theme }}"
                                 alt="Arrow right">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
