    <div class="Popup-wrap">
        <div class="Popup-wrap__content">
            <div class="Popup-close"></div>
            <div class="Popup-img-wrapper">
                <img src="{{ 'assets/img/icons/close.png'|theme }}" class="Popup-close Popup-close-icon" alt="">
                <a styler="display:block;" href="https://youtu.be/7pz4gomrsHg" target="_blank">
                    <img src="{{ 'assets/images/1644379421LYUAB.jpg'|theme }}" alt="">
                </a>
            </div>
        </div>
    </div>
