    <div class="banner-slider-wrapper">
        <a href="#lands-to-landmark" class="animate-scroll scroll-down">
            <img src="{{ 'assets/img/icons/arrow-down.svg'|theme }}" alt="down arrow">
        </a>
        <div id="layerslider" class="fitvidsignore" style="width:100%; height:100%;">
            <div data-color="#FFFFFF" class="ls-slide banner-slider-item slider_topper" data-ls="slidedelay:5500;transition2d:12;">
                <img src="{{ 'assets/images/1640865034SELe3.jpg'|theme }}"
                     class="ls-bg" alt="Shantaholdings Slide">
            </div>
            <div data-color="#FFFFFF" class="ls-slide banner-slider-item slider_topper" data-ls="slidedelay:5500;transition2d:12;">
                <img src="{{ 'assets/images/1644926203XgbMY.jpg'|theme }}"
                     class="ls-bg" alt="Shantaholdings Slide">
            </div>
            <div data-color="#FFFFFF" class="ls-slide banner-slider-item slider_topper" data-ls="slidedelay:5500;transition2d:12;">
                <img src="{{ 'assets/images/1644926591JwK6U.jpg'|theme }}"
                     class="ls-bg" alt="Shantaholdings Slide">
            </div>
            <div data-color="#FFFFFF" class="ls-slide banner-slider-item slider_topper" data-ls="slidedelay:5500;transition2d:12;">
                <img src="{{ 'assets/images/1644926660eDYcq.jpg'|theme }}"
                     class="ls-bg" alt="Shantaholdings Slide">
            </div>
            <div data-color="#FFFFFF" class="ls-slide banner-slider-item slider_topper" data-ls="slidedelay:5500;transition2d:12;">
                <img src="{{ 'assets/images/1644926812PlM4A.jpg'|theme }}"
                     class="ls-bg" alt="Shantaholdings Slide">
            </div>
            <div data-color="#FFFFFF" class="ls-slide banner-slider-item slider_topper" data-ls="slidedelay:5500;transition2d:12;">
                <img src="{{ 'assets/images/1644926903bajOx.jpg'|theme }}"
                     class="ls-bg" alt="Shantaholdings Slide">
            </div>
        </div>

<!--         <div class="circle-menu inactive"> -->
<!--             <div class="circle-inner"> -->
<!--                 <h2 class="slogan"> -->
<!--                     <span>Setting Standards</span> -->
<!--                     <span>Explore</span> -->
<!--                 </h2> -->
<!--             </div> -->
<!--             <ul class="circle-text text-uppercase"> -->
<!--                 <li> -->
<!--                     <a href="projects/ongoing.html"> &nbsp; Ongoing &nbsp; |</a> -->
<!--                 </li> -->
<!--                 <li> -->
<!--                     <a href="projects/completed.html">&nbsp; Completed &nbsp; | &nbsp;</a> -->
<!--                 </li> -->
<!--                 <li> -->
<!--                     <a href="projects/upcoming.html">&nbsp;Upcoming</a> -->
<!--                 </li> -->
<!--             </ul> -->
<!--             <div class="circle-bg"></div> -->
<!--             loader-line -->
<!--             <div class="init-animation loader-line-mask"> -->
<!--                 <div class="loader-line"></div> -->
<!--             </div> -->
<!--         </div> -->
    </div>
